<header>
  <div class="container cabeçalho">
      <a href="#"><img class="logo" src="../assets/img/Logo_eplayers.svg" alt="Logo"></a>
      <nav id="menu" class="menu">
          <a href="#" target="_blank">Inicio</a>
          <a href="#" target="_blank">Login</a>
          <a href="#" target="_blank">Campeonato</a>
          <a href="#" target="_blank">Resultados</a>
          <a href="#" target="_blank">Noticias</a>
      </nav>
  </div>
</header>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
Clique aqui
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Iphone Gratis</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceitar</button>
    <button type="button" class="btn btn-primary">Recusar</button>
  </div>
</div>
</div>
</div>

<router-outlet></router-outlet>
